@include b(basic-lists){

	ul {
		margin: 0 0 30px;
		li {
			list-style: none;
			text-transform: uppercase;
		}
	}

	@include m(title){
		h2 {
			@extend .font-styles__sub-title;
			@extend .font-styles__sub-title--italic-small;
			text-transform: uppercase;
			line-height: 28px;
			margin-bottom: rem-calc(30);
		}
	}

}