@include b(basic-copy){
	h1, h2 {
		margin-bottom: 30px !important;
		overflow: hidden;
	    text-overflow: ellipsis;
		&:after {
			border-top: 2px solid $black;
			content:'';
			display: block;
			width: 100%;
			max-width: 300px;
			margin: 50px auto 0;
		}
	}

	p {
		em {
			@extend .font-styles__basic-italic;
			strong {
				@extend .font-styles__basic-italic-strong;
			}
		}
		strong {
			em {
				@extend .font-styles__basic-italic-strong;
			}
		}
	}

	@include e(pullquote){
		@extend .font-styles__pullquote;
		@include breakpoint(small only){
			font-size: rem-calc(15);
			line-height: 31px;
		}
		br {
			@media only screen and (max-width: 991px) {
				display:none;
			}
		}
	}

	@include m(border){
		border-top: 5px solid $black;
		border-bottom: 5px solid $black;
		padding-top: rem-calc(50);
		padding-bottom: rem-calc(40);
		@include breakpoint(medium) {

		}
	}

	@include m(squedo){
		&:before,
		&:after {
			background: $black;
			content:'';
			height: 5px;
			display: block;
			margin: 0 auto;
			width: 100%;
			max-width: 400px;
		}
		&:before {
			margin-bottom: 50px;
		}
		&:after {
			margin-top: 40px;
		}
	}
}