@include b(button-type){

	@extend %gar-prem-pro-italic; 
	color: $brand-gold;
	border: 1px solid $brand-gold;
	font-size: rem-calc(18);
	letter-spacing: .1em;
	padding: rem-calc(4) rem-calc(25);
	transition: color .45s ease-out, border-color .45s ease-out;

	&:hover {
		color: $black;
		border-color: $black;
	}

	@include m(default){
		display: inline-block;
		margin-top: 30px;
	}

	@include m(light){
		&:hover {
			color: $white;
			border-color: $white;
		}
	}

	@include m(inline){
		display: inline-block;
	}
}