@include b(button-block){
	margin: 0 0 85px;
	@include grid-layout(1, 'li', $grid-column-gutter);
	@include breakpoint(medium) {
		@include grid-layout(3, 'li', $grid-column-gutter);
	}
	li {
		list-style: none;
		@include breakpoint(small only){
			margin-top: 30px;
		}
		&:first-child {
			@include breakpoint(small only){
				margin-top: 0;
			}
		}
		.button-block__bg {
			background: url(../images/woodone.jpg) no-repeat center;
			background-size: cover !important;
		}
	}

	@include e(img){
		display: block;
		margin: 0 auto 30px;	
	}

	@include e(title){
		@extend .font-styles__sub-title;
		@extend .font-styles__sub-title--italic-small;
		text-transform: uppercase;
		margin-bottom: 20px;
		padding-top: 15px;
		text-align: center;
		line-height: 26px;
	}

	@include e(sub-title){
		@extend .font-styles__basic-italic-strong;
		text-transform: uppercase;
		display: block;
		@include breakpoint(medium) {
			width: 100%;
			max-width: 80%;
			margin: 0 auto;
		}
		a {
			color: $black;
			br {
				@include breakpoint(medium) {
					display: none;
				}
			}
		}
	}

	@include e(copy){
		@include breakpoint(medium) {
			width: 100%;
			max-width: 80%;
			margin: 0 auto;
		}
	}
}