// Search form
.search-form {

}
.search-form label {
    font-weight: normal;
}
.search-form .search-field {
}
.search-form .search-submit {
    @extend .button;
}
form {
	.gform_heading {
		display: none;
	}
	.gform_validation_container {
		display: none;
	}
	
	.gfield_error {
		.validation_message {
			@extend .form-error;
			display: inherit;
		}
	}
	.gform_fields {
		margin-left: 0;
		.gfield {
			list-style: none;
			margin-bottom: rem-calc(30);
		}
	}

	.gform_body {
		input,
		textarea {
			@extend .font-styles__copy-plus;
			color: $brand-dark-gold;
			border: none;
			box-shadow: none;
			margin-bottom: 0;
			background: none;
			height: auto;
			padding: rem-calc(15);
			background: #e7e7e8;
			@include placeholder {
				color: $brand-dark-gold;
			}
		}
		.gfield_label {
			display: none;
		}
		.gfield {
			margin-bottom: 20px;
		}
		span {
			label {
				display: none;
			}
		}
		.ginput_complex {
			@extend .clearfix;
			margin: 0 -10px;
			@include breakpoint(medium) {
				margin: 0 -15px;
			}
			span {
				@include grid-column(6);
				&:first-child {
					padding-right: 10px;
				}
				&:last-child {
					padding-left: 10px;
				}
			}
		}
	}

	.gform_footer {
		text-align: right;
		.gform_button {
			@extend .font-styles__copy-plus;
			background: $brand-dark-gold;
			padding: 0;
			color: $white;
			appearance:none;
			padding: 0.9375rem 3.75rem;
			border: 1px solid $brand-dark-gold;
			&:hover {
				background: transparent;
				color: $brand-dark-gold;
			}
		}
	}

	.chosen-container-single {
		.chosen-single {
			//font-styling
			border: 1px solid $black;
			background: none;
			border-radius: 0;
		    padding: 8px 11px;
		    height: 41px;
		}
	}
	.chosen-container-multi {
		//font-styling
		.chosen-choices {
			color: $black;
			border: 1px solid $black;
			background: none;
			border-radius: 0;
		    padding: 8px 11px;
		    height: 41px;
		}
	}
}


body img.gform_ajax_spinner {
    display: none!important;
}