@include b(tag-line){
	@extend .clearfix;
	&:before,
	&:after {
		border-top: 6px solid $black;
		display: block;
		max-width: 71px;
		margin: 0 auto rem-calc(30);
	}
	&:after {
		max-width: 132px;
		margin: 0 auto rem-calc(30);
	}

	@include e(top){
		@extend .font-styles__thin-title;
		margin-bottom: 0;
		line-height: 30px;
	}

	@include e(middle){
		@extend .font-styles__sub-title;
		@extend .font-styles__sub-title--italic;
		display: block;
		max-width: 200px;
		margin: 0 auto;
	}

	@include e(bottom){
		@extend .font-styles__sub-title;
		text-transform: uppercase;	
		margin-bottom: rem-calc(20);
	}


	@include m(short){
		@include breakpoint(medium) {
			max-width: 200px;
			margin: 0 auto;
		}
	}

}

blockquote {
	@extend .tag-line;
	border-left: none;
	
	h2 {
		@extend .font-styles__thin-title;
		@extend .font-styles__thin-title--big-cd;
		margin-bottom: 0;
		text-align: center;
		line-height: 60px;
		i,em{
			@extend .font-styles__sub-title;
			@extend .font-styles__sub-title--italic;
			text-transform: none;
		}
		b,strong {
			@extend .font-styles__sub-title;
			@extend .font-styles__sub-title--big;
		}
	}

	h3 {
		@extend .font-styles__thin-title;
		margin-bottom: 0;
		text-align: center;
		i,em{
			@extend .font-styles__sub-title;
			@extend .font-styles__sub-title--italic;
			text-transform: none;
		}
	}


	
	&:after {
		margin-top: 30px;
	}
}