@include b(video-block){
	margin-bottom: 0;
	@include e(play){
		background: url(../images/play-button.png) no-repeat center;
		position: absolute;
		z-index: 99;
		border-radius: 50%;
		width: 75px;
		height: 75px;
		text-align: center;
		padding-left: 5px;
		bottom: 365px;
		left:0;
		right: 0;
		top: auto;
		margin: auto;
		cursor: pointer;
		opacity: 1;
		transition: opacity .45s ease-out;
		display: block;
		background-size: 65px;
		
		@media only screen and (max-width: 1500px) {
			bottom: 275px;
		}
		@include breakpoint(medium) {
			display: block;
		}
		@include breakpoint(medium down) {
			bottom: 175px;
		}
		@include breakpoint (small only){
			bottom: 0;
			top: 0;
		}
		&:hover {
			opacity: .3;
		}

	}

	@include e(sound-off){
		background: url(../images/close-button-video.png) no-repeat center;
		position: absolute;
		z-index: 99;
		display: block;
		width: 75px;
		height: 75px;
		text-align: center;
		right: 30px;
		top: 30px;
		cursor: pointer;
		display: none;
		background-size: 65px;
		transition: opacity .45s ease-out;

		&:hover {
			opacity: .3;
		}
	}

	@include e(scroll-to){
		background: url(../images/down-arrow-video.png) no-repeat center;
		display: none;
		position: absolute;
		z-index: 99;
		width: 0; 
		height: 0; 
		left: 0;
		right: 0;
		height: 25px;
		width: 25px;
		bottom: rem-calc(140);
		margin: auto;
		@include breakpoint(medium down) {
			bottom: 90px;
		}
		@include breakpoint(medium) {
			display: block;
		}
	}	
}