/*media examples*/
.element {
  // Only affects medium screens and larger
  @include breakpoint(medium) {
    // All CSS in here goes inside the media query
  }
}

.element {
  // Only affects medium screens and smaller
  @include breakpoint(medium down) { }
  // Only affects medium screens, not small or large
  @include breakpoint(medium only) { }
}

.element {
  // Converted to 20em
  @include breakpoint(320px) { }
  // Unitless values are assumed to be pixels
  @include breakpoint(320) { }
  // Converted to 40em
  @include breakpoint(40rem) { }
}

.element {
  @include breakpoint(landscape) {
    // CSS for landscape-oriented devices only
  }
  @include breakpoint(retina) {
    // CSS for high-resolution displays only
  }
}


@media only screen and (min-width: 1350px) {}
@media only screen and (max-width: 1350px) {}
@media only screen and (min-width: 1350px) and (max-width: 1350px) {}


.content{
  margin-top: 3rem;
}
#qa {
    background: url(../images/blah.jpg) no-repeat center -2376px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
    display: none;
}
body {
    /*min-height: 4000px;*/
}

.blink-me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {  
  50% { opacity: .4; }
}

@-webkit-keyframes flicker {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    1% {
        -webkit-transform: translate(6px, 2.5px);
        transform: translate(6px, 2.5px);
        opacity: .8
    }
    2% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    9% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    10% {
        -webkit-transform: translate(14px, 3px);
        transform: translate(14px, 3px);
        opacity: .75
    }
    11% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    39% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    40% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
        opacity: .96
    }
    41% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    42% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
        opacity: .75
    }
    43% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    44% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
        opacity: .75
    }
    45% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    46% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
        opacity: .75
    }
    47% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    70% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    71% {
        -webkit-transform: translate(8px, 12px);
        transform: translate(8px, 12px);
        opacity: .3
    }
    72% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
        opacity: .75
    }
    73% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
}

@keyframes flicker {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    1% {
        -webkit-transform: translate(6px, 2.5px);
        transform: translate(6px, 2.5px);
        opacity: .8
    }
    2% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    9% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    10% {
        -webkit-transform: translate(14px, 3px);
        transform: translate(14px, 3px);
        opacity: .75
    }
    11% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    39% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    40% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
        opacity: .96
    }
    41% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    42% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
        opacity: .75
    }
    43% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    44% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
        opacity: .75
    }
    45% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    46% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
        opacity: .75
    }
    47% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    70% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    71% {
        -webkit-transform: translate(8px, 12px);
        transform: translate(8px, 12px);
        opacity: .3
    }
    72% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
        opacity: .75
    }
    73% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
}

@-webkit-keyframes flickerLarge {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    0.15% {
        -webkit-transform: translate(2px, 7.5px);
        transform: translate(2px, 7.5px);
        opacity: .2
    }
    1% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    9.9% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    29.9% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    30% {
        -webkit-transform: translate(12px, 4px);
        transform: translate(12px, 4px);
        opacity: .7
    }
    31% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    69.9% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    70% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
        opacity: .75
    }
    70.5% {
        -webkit-transform: translate(8px, 12px);
        transform: translate(8px, 12px);
        opacity: .6
    }
    71% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
        opacity: .75
    }
    72% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    95% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    96% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: .9
    }
    97% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    98% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: .9
    }
    99% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
}

@keyframes flickerLarge {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    0.15% {
        -webkit-transform: translate(2px, 7.5px);
        transform: translate(2px, 7.5px);
        opacity: .2
    }
    1% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    9.9% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    29.9% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    30% {
        -webkit-transform: translate(12px, 4px);
        transform: translate(12px, 4px);
        opacity: .7
    }
    31% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    69.9% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    70% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
        opacity: .75
    }
    70.5% {
        -webkit-transform: translate(8px, 12px);
        transform: translate(8px, 12px);
        opacity: .6
    }
    71% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
        opacity: .75
    }
    72% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    95% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    96% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: .9
    }
    97% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    98% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: .9
    }
    99% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
}

.flicker {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.flicker,
.flickerLong {
    -webkit-animation-name: flicker;
    animation-name: flicker
}

.flickerLong {
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.flickerLarge {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.flickerLarge,
.flickerLargeShort {
    -webkit-animation-name: flickerLarge;
    animation-name: flickerLarge
}

.flickerLargeShort {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}