//fonts go here
@font-face {
	font-family: 'Garamond Premiere Pro Semi';
	src: url('../fonts/GaramondPremrPro-Smbd.eot');
	src: url('../fonts/GaramondPremrPro-Smbd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GaramondPremrPro-Smbd.woff2') format('woff2'),
		url('../fonts/GaramondPremrPro-Smbd.woff') format('woff'),
		url('../fonts/GaramondPremrPro-Smbd.ttf') format('truetype'),
		url('../fonts/GaramondPremrPro-Smbd.svg#GaramondPremrPro-Smbd') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Garamond Premier Pro semi italic';
	src: url('../fonts/GaramondPremrPro-SmbdIt.eot');
	src: url('../fonts/GaramondPremrPro-SmbdIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GaramondPremrPro-SmbdIt.woff2') format('woff2'),
		url('../fonts/GaramondPremrPro-SmbdIt.woff') format('woff'),
		url('../fonts/GaramondPremrPro-SmbdIt.ttf') format('truetype'),
		url('../fonts/GaramondPremrPro-SmbdIt.svg#GaramondPremrPro-SmbdIt') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Garamond Premier Pro italic';
	src: url('../fonts/GaramondPremrPro-It.eot');
	src: url('../fonts/GaramondPremrPro-It.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GaramondPremrPro-It.woff2') format('woff2'),
		url('../fonts/GaramondPremrPro-It.woff') format('woff'),
		url('../fonts/GaramondPremrPro-It.ttf') format('truetype'),
		url('../fonts/GaramondPremrPro-It.svg#GaramondPremrPro-It') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Garamond Premiere Pro italic display';
	src: url('../fonts/GaramondPremrPro-ItDisp.eot');
	src: url('../fonts/GaramondPremrPro-ItDisp.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GaramondPremrPro-ItDisp.woff2') format('woff2'),
		url('../fonts/GaramondPremrPro-ItDisp.woff') format('woff'),
		url('../fonts/GaramondPremrPro-ItDisp.ttf') format('truetype'),
		url('../fonts/GaramondPremrPro-ItDisp.svg#GaramondPremrPro-ItDisp') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Garamond Premiere Pro mid';
	src: url('../fonts/GaramondPremrPro-Med.eot');
	src: url('../fonts/GaramondPremrPro-Med.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GaramondPremrPro-Med.woff2') format('woff2'),
		url('../fonts/GaramondPremrPro-Med.woff') format('woff'),
		url('../fonts/GaramondPremrPro-Med.ttf') format('truetype'),
		url('../fonts/GaramondPremrPro-Med.svg#GaramondPremrPro-Med') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Garamond Premiere Pro semi italic';
	src: url('../fonts/GaramondPremrPro-SmbdItDisp.eot');
	src: url('../fonts/GaramondPremrPro-SmbdItDisp.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GaramondPremrPro-SmbdItDisp.woff2') format('woff2'),
		url('../fonts/GaramondPremrPro-SmbdItDisp.woff') format('woff'),
		url('../fonts/GaramondPremrPro-SmbdItDisp.ttf') format('truetype'),
		url('../fonts/GaramondPremrPro-SmbdItDisp.svg#GaramondPremrPro-SmbdItDisp') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Garamond Premiere Pro bold';
	src: url('../fonts/GaramondPremrPro-Bd.eot');
	src: url('../fonts/GaramondPremrPro-Bd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GaramondPremrPro-Bd.woff2') format('woff2'),
		url('../fonts/GaramondPremrPro-Bd.woff') format('woff'),
		url('../fonts/GaramondPremrPro-Bd.ttf') format('truetype'),
		url('../fonts/GaramondPremrPro-Bd.svg#GaramondPremrPro-Bd') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Garamond Premiere Pro';
	src: url('../fonts/GaramondPremrPro.eot');
	src: url('../fonts/GaramondPremrPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GaramondPremrPro.woff2') format('woff2'),
		url('../fonts/GaramondPremrPro.woff') format('woff'),
		url('../fonts/GaramondPremrPro.ttf') format('truetype'),
		url('../fonts/GaramondPremrPro.svg#GaramondPremrPro') format('svg');
	font-weight: normal;
	font-style: normal;
}

%gar-prem-pro-italic {
	font-family: 'Garamond Premier Pro italic';
	font-style: italic;
	font-weight: normal;
}
%gar-prem-pro {
	font-family: 'Garamond Premiere Pro';
	font-style: normal;
	font-weight: normal;
}
%gar-prem-pro-semi-bold {
	font-family: 'Garamond Premiere Pro Semi';
	font-style: normal;
	font-weight: 600;
}
%gar-prem-pro-semi-bold-italic {
	font-family: 'Garamond Premier Pro semi italic';
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: 'Avenir 45 Book';
	src: url('../fonts/Avenir-Book.eot');
	src: url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Avenir-Book.woff2') format('woff2'),
		url('../fonts/Avenir-Book.woff') format('woff'),
		url('../fonts/Avenir-Book.ttf') format('truetype'),
		url('../fonts/Avenir-Book.svg#Avenir-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir 55 Roman';
	src: url('../fonts/Avenir-Roman.eot');
	src: url('../fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Avenir-Roman.woff2') format('woff2'),
		url('../fonts/Avenir-Roman.woff') format('woff'),
		url('../fonts/Avenir-Roman.ttf') format('truetype'),
		url('../fonts/Avenir-Roman.svg#Avenir-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir 95';
	src: url('../fonts/Avenir-Black.eot');
	src: url('../fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Avenir-Black.woff2') format('woff2'),
		url('../fonts/Avenir-Black.woff') format('woff'),
		url('../fonts/Avenir-Black.ttf') format('truetype'),
		url('../fonts/Avenir-Black.svg#Avenir-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Light';
	src: url('../fonts/Avenir-Light.eot');
	src: url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Avenir-Light.woff2') format('woff2'),
		url('../fonts/Avenir-Light.woff') format('woff'),
		url('../fonts/Avenir-Light.ttf') format('truetype'),
		url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir 65';
	src: url('../fonts/Avenir-Medium.eot');
	src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Avenir-Medium.woff2') format('woff2'),
		url('../fonts/Avenir-Medium.woff') format('woff'),
		url('../fonts/Avenir-Medium.ttf') format('truetype'),
		url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir Next Pro Ultralight Cond';
	src: url('../fonts/AvenirNextPro-UltralighCondIt.eot');
	src: url('../fonts/AvenirNextPro-UltralighCondIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextPro-UltralighCondIt.woff2') format('woff2'),
		url('../fonts/AvenirNextPro-UltralighCondIt.woff') format('woff'),
		url('../fonts/AvenirNextPro-UltralighCondIt.ttf') format('truetype'),
		url('../fonts/AvenirNextPro-UltralighCondIt.svg#AvenirNextPro-UltralighCondIt') format('svg');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next LT Pro Cond Italic';
	src: url('../fonts/AvenirNextLTPro-CnIt.eot');
	src: url('../fonts/AvenirNextLTPro-CnIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextLTPro-CnIt.woff2') format('woff2'),
		url('../fonts/AvenirNextLTPro-CnIt.woff') format('woff'),
		url('../fonts/AvenirNextLTPro-CnIt.ttf') format('truetype'),
		url('../fonts/AvenirNextLTPro-CnIt.svg#AvenirNextLTPro-CnIt') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'AvenirNextLTPro-Medium';
	src: url('../fonts/341182_0_0.eot');
	src: url('../fonts/341182_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/341182_0_0.woff2') format('woff2'),
	url('../fonts/341182_0_0.woff') format('woff'),
	url('../fonts/341182_0_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'AvenirNextLTPro-CnIt';
	src: url('../fonts/341182_1_0.eot');
	src: url('../fonts/341182_1_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/341182_1_0.woff2') format('woff2'),
	url('../fonts/341182_1_0.woff') format('woff'),
	url('../fonts/341182_1_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'AvenirNextLTPro-DemiCnIt';
	src: url('../fonts/341182_2_0.eot');
	src: url('../fonts/341182_2_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/341182_2_0.woff2') format('woff2'),
	url('../fonts/341182_2_0.woff') format('woff'),
	url('../fonts/341182_2_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'AvenirNextLTPro-UltLtCnIt';
	src: url('../fonts/341182_3_0.eot');
	src: url('../fonts/341182_3_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/341182_3_0.woff2') format('woff2'),
	url('../fonts/341182_3_0.woff') format('woff'),
	url('../fonts/341182_3_0.ttf') format('truetype');
}

@font-face {
	font-family: 'Avenir Next LT Pro italic';
	src: url('../fonts/AvenirNextLTPro-It.eot');
	src: url('../fonts/AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextLTPro-It.woff2') format('woff2'),
		url('../fonts/AvenirNextLTPro-It.woff') format('woff'),
		url('../fonts/AvenirNextLTPro-It.ttf') format('truetype'),
		url('../fonts/AvenirNextLTPro-It.svg#AvenirNextLTPro-It') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next LT Pro Med CON';
	src: url('../fonts/AvenirNextLTPro-MediumCn.eot');
	src: url('../fonts/AvenirNextLTPro-MediumCn.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextLTPro-MediumCn.woff2') format('woff2'),
		url('../fonts/AvenirNextLTPro-MediumCn.woff') format('woff'),
		url('../fonts/AvenirNextLTPro-MediumCn.ttf') format('truetype'),
		url('../fonts/AvenirNextLTPro-MediumCn.svg#AvenirNextLTPro-MediumCn') format('svg');
	font-weight: 500;
	font-style: normal;
}

@include b(font-styles){

	@include e(nav){
		@extend %gar-prem-pro-italic;
		color: $brand-gold;
		font-size: rem-calc(18);
		text-transform: uppercase;
	}

	@include e(title){
		@extend %gar-prem-pro; 
		font-size: rem-calc(51);
		color: $black;
		line-height: 68px;
		letter-spacing: .285em;
		@include m(big){
			/*text-transform: uppercase;*/
			font-weight: 600;
		}

		@include m(italic){
			font-family: 'Garamond Premier Pro italic';
		}

		@include m(italic-small){
			
			font-style: italic;
			font-size: rem-calc(38);
		}
	}

	@include e(sub-title){
		@extend %gar-prem-pro;
		color: $black;
		font-size: rem-calc(25);
		line-height: 36px;
    	letter-spacing: .28em;
		@include m(italic){
			font-family: 'Garamond Premier Pro italic';
			font-style: italic;
			font-weight: normal;
		}

		@include m(italic-small){
			font-family: 'Garamond Premier Pro italic';
			font-style: italic;
			font-weight: normal;
			font-size: rem-calc(21);
		}

		@include m(big){
			font-size: rem-calc(35);
		}
	}

	@include e(thin-title){
		font-family: 'AvenirNextLTPro-CnIt';
		font-size: rem-calc(20.99);
		font-weight: normal;
		
		text-transform: uppercase;
		letter-spacing: .27rem;
		line-height: 42px;
		@include m(italic){
			font-family: 'AvenirNextLTPro-UltLtCnIt';
			font-weight: 200;
			font-style: normal;
		}

		@include m(big){
			font-size: rem-calc(38);
			letter-spacing: .17em;
		}

		@include m(big-cd){
			font-family: 'AvenirNextLTPro-UltLtCnIt';
			font-size: rem-calc(35);
			letter-spacing: .17em;
			letter-spacing: .23em;
			font-style: normal;
		}

	}

	@include e(basic-italic){
		@extend %gar-prem-pro-italic;
		font-size: rem-calc(15);
		text-transform: uppercase;
	}
	@include e(basic-italic-strong){
		font-family: 'AvenirNextLTPro-DemiCnIt' !important;
		font-family: normal;
		font-style: normal;
		letter-spacing: .15em;
	}

	@include e(footer-basic){
		font-family: 'AvenirNextLTPro-DemiCnIt';
		color: $brand-dark-gold;
	}

	@include e(pullquote){
		font-family: 'Avenir Next LT Pro Cond Italic';
		font-weight: normal;
		font-style: italic;
		font-size: rem-calc(19);
		text-transform: uppercase;
		letter-spacing: .2em;
		line-height:39px;
	}


	@include e(call-out){
		font-family: 'AvenirNextLTPro-DemiCnIt';
		font-style: normal;
		font-weight: normal;
		font-size: rem-calc(20);
		text-transform: uppercase;
		letter-spacing: .2em;
		line-height: 31px;
	}

	@include e(copy-plus){
		font-family: 'AvenirNextLTPro-DemiCnIt';
		text-transform: uppercase;
		letter-spacing: .15em;
		font-size: rem-calc(15);
	}


}

body {
	font-family: 'Avenir 65';
	font-weight: 500;
	font-style: normal;
	font-size: rem-calc(13.5);
	p {
		font-family: 'Avenir 65';
		font-weight: 500;
		font-style: normal;
		font-size: rem-calc(13.5);
		text-align: center;
		line-height: 23px;
	}
}