// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-gold:         #9d885e;
$brand-dark-gold: #86754F;
$brand-brown: #231f20;
$off-white: #FCFCF7;
$brand-off-brown: #414042;