@include b(page-layout){
	
	/*contact*/
	@include m(contact){
		position: relative;
		@include e(intro){
			padding: 75px 0;
			h2 {
				@extend .font-styles__thin-title;
				font-style: normal;
				span {
					color: $brand-dark-gold;
					display: block;
					clear: both;
				}
			}
		}

		@include e(featured-img){
			border-bottom: none;
		}

		@include e(container){
			position: relative;
		}

		@include e(content){
			padding-bottom: 100px;
			text-align: left;

			.medium-3 {
				
				ul {
					margin: 0;
					list-style: none;
					text-align: left;
				}
				li {
					margin-bottom: 25px;
					&:last-child {

					}
					em {
						@extend .font-styles__copy-plus;
					}
					a {
						color: $black;
					}
				}

				p {
					a {
						@extend .button-type;
						display: block;
						margin-bottom: 15px;
						padding-left: 5px;
						padding-right: 5px;
					}
				}
			}

			.medium-8 {
				img {
					display: block;
					margin: 0 auto 30px;
				}
			}
		}

		@include e(triangle-line){
			position: absolute;
			max-width: 300px;
			bottom: 320px;
			left: -150px;	
			z-index: 0; 
		}

		@include e(triangle-flicker){
			position: absolute;
			max-width: 100px;
			right: 100px;
			top : 25px;
		}

	}
	/*end mod*/

}