@include b(page-layout){
	
	/*default*/
	@include m(default){

		/*misc last second stuff adding for their QA*/
		.special-medium-off-set {
			@include breakpoint(medium){
				width: 38%;
				margin-left: 4%;
			}
		}
		.column {
			&.padding-bottom {
				padding-bottom: 30px;
			}
		}

		/*start modifier*/
			.enhanced-p-tag {
				p {
					em {
						font-family: 'AvenirNextLTPro-CnIt';
						text-transform: uppercase;
						letter-spacing: .2em;
						font-style: normal;
						line-height: 27px;
					}
				}
			}

			.basic-copy {
				@extend .page-layout__title-block;
				@extend .page-layout__title-block--same-size;
				h2 {
					margin-bottom: 30px !important;
					text-transform: uppercase;
					max-width: 100%;
					@include breakpoint(medium) {
						margin-bottom: rem-calc(75) !important;
					}
					&:after {
						border-top: 5px solid $black;
						max-width: 150px;
						margin: 25px auto 0;
					}
					em,i {
						@include breakpoint(small only) { 
				    		font-size: rem-calc(27);
				    		line-height: 50px;
				    		display: block;
				    	}
					}
					em,i {
						&.has-left-padding {
							@include breakpoint(medium){
								padding-left: 15px;
							}
						}
						&.has-left-padding-short {
							@include breakpoint(medium){
								padding-left: 5px;
							}
						}
						&.has-right-padding {
							@include breakpoint(medium){
								padding-right: 10px;
							}
						}
						&.has-right-padding-big {
							@include breakpoint(medium){
								padding-right: 15px;
							}
						}
					}
				}
			}
			/*pullquote*/
			@include e(pullquote){
				padding: 85px 0 0;
			}
			/*end pullquote*/


			/*img left content right*/
			@include e(img-lt-con-rt){
				padding: 85px 0 0;
				
				.end {
					margin-top: 0;
					@include breakpoint(large) {
						margin-top: 85px;
					}
				}

				@extend .enhanced-p-tag;

				blockquote {

					&:before {
						max-width: 100px;
					}
					&:after {
						border-color: transparent;
						margin-top: 15px;
					}
					p {
						@extend .font-styles__thin-title;
						color: $black;
						@include breakpoint(medium) {
							max-width: 187px;
							display: block;
							margin: 0 auto;
						}
					}
				}

				@include m(alt){
					blockquote {

						&:before {
							max-width: 75px;
						}
						&:after {
							border-color: $black;
							margin-top: 15px;
						}
						p {
							font-family: 'Garamond Premiere Pro';
							font-style: normal;
							font-weight: normal;
							color: $black;
							line-height: 23px;
							em,i{
								@extend .font-styles__thin-title;
								@extend .font-styles__thin-title--italic;
							}
							strong {
								text-transform: none;
								font-family: 'Garamond Premier Pro italic';
								font-style: italic;
								font-weight: normal;
							}
							@include breakpoint(medium) {
								max-width: 100%;
								display: block;
								margin: 0 auto;
							}
						}
					}
				}

				@include m(even){
					.medium-4 {
						@include breakpoint(medium) {
							margin-top: 30px;
						}
					}
					.medium-6 {
						margin-top: 30px;
						@include breakpoint(medium) {
							margin-top: 0;
						}
					}
				}
			}
			/*end img left content right*/

			/*alternating blocks*/
			@include e(alternating-blocks){
				
				padding: 85px 0;
				ul {
					@include breakpoint(small only) {
						margin: 0;
					}
					li {
						list-style: none;
					}
					.clearfix {
						margin-top: 85px;
					
						&:first-child {
							margin-top:0;
						}
						&:nth-child(even){
							.other {
								@include breakpoint(medium) {
									float: right;
								}
							}
							.copy {
								@include breakpoint(medium) {
									float: left;
								}
							}
						}
						ul {
							margin: 0;
						}
						li {
							margin-top: 20px;
						}
						strong {
							text-transform: uppercase;
						}
						h2 {
							@extend .font-styles__sub-title;
							@extend .font-styles__sub-title--italic-small;
							text-transform: uppercase;
							margin-bottom: 20px;
							text-align: center;
						}

						h4 {
							/*font-family: 'AvenirNextLTPro-DemiCnIt';*/
							@extend .font-styles__copy-plus;
							margin-bottom: 2px;
						}
					}
					.copy {
						margin-top: 30px;
					}
				}
			}


			/*big list*/
			@include e(big-list){
				padding-top: 85px;
				ul {
					margin: 0;
					clear: left;
					text-align: center;
					@include breakpoint(small only){
						padding: 0 15px;
					}
				}
				li {
					background: url(../images/triangle-list.png) no-repeat bottom center;
					background-size: 20px;
					list-style: none;
					padding-bottom: 40px;
					margin-bottom: 15px;
					&:last-child {
						background:none;
						margin-bottom: 0;
						padding-bottom: 0;
					}
					i,em {
						@extend .font-styles__thin-title;
						font-style: normal;
						@include breakpoint(small only){
							font-size: 18px;
							line-height: 30px;
						}
						br {
							@include breakpoint(small only){
								display: none;
							}
						}
					}
				}
				.basic-copy {
					h2 {
						margin-bottom: 45px !important;
					}
				}
			}


			/*call to action*/
			@include e(call-to-action){
				margin-top: 85px;
				text-align: center;
				background: url(../images/gold-texture.jpg);
				padding: 85px 0;
				@include breakpoint(medium) {
					padding: 100px 0 115px;
				}
				* {
					color: $white;
				}
				h2,a {
					@extend %gar-prem-pro-semi-bold-italic;
					text-transform: uppercase;
					font-size: rem-calc(28);
					letter-spacing: .23em;
					margin-bottom: 75px;
				}
				h2 {
					font-family: 'Garamond Premier Pro italic';
					font-style: italic;
					font-weight: normal;
				}
				a {
					color: $brand-dark-gold;
					background: $white;
					text-transform: none;
					padding: 15px 60px;
					transition: color .45s ease-out, background .45s ease-out;
					&:hover {
						color: $white;
						background: $black;
					}

					@include breakpoint(small only){
						font-size: rem-calc(21);
						letter-spacing: .2em;
						padding: 15px 45px;
					}
				}
			}

			/*owl slider*/
			@include e(slides){
				margin-top: 85px;
			}

			/*call out*/
			@include e(call-out){
				padding: 85px 0;
				p {
					@extend .font-styles__call-out;
					color: $white;
					margin-bottom: 60px;
					&:last-child {
						margin-bottom:0;
					}	
				}
			}

			/*button blocks*/
			@include e(button-blocks){
				.clear-left {
					clear:both;
				}
			}


			/*centerd-img*/
			@include e(centered-img){
				margin-top: 85px;

				@include m(widescreen){
					margin: 0;
					position: relative;
					z-index: 1;
					> div {
						width: 100%;
						max-width: 100%;
						margin: 0 auto;
						> div {
							width: 100%;
							max-width: 100%;
							padding: 0;
						}
					}
				}
			}

			/*black*/
			@include e(black){
				margin-top: 85px;
				position: relative;
				z-index: 1;
				*,h2 {
					color: $white;
				}
				h2 {
					&:after {
						border-color: $white;
					}
				}
				@extend .enhanced-p-tag;
			}

			/*wide left short right*/
			@include e(wide-left-short-right){
				padding: 75px 0;

				.text {
					&:before {
						background:$black;
						content: '';
						height: 5px;
						display: block;
						max-width: 125px;
						margin: 30px auto;
					}
					a {
						@extend .button-type;
						display: inline-block;
						margin-top: 15px;
					}
				}

				.medium-12 {
					position: relative;
				}

				.medium-9,
				.medium-3 {
					@media only screen and (max-width: 974px) {
						width:100%;
						float: none;
						text-align: center;
						max-width: 875px;
						margin: 0 auto;
					}
				}
			}

			/*wysiwyg*/
			@include e(wysiwyg){
				margin-top: 75px;
				p {
					img {
						display: block;
						margin: 0 auto 30px;
					}
					&:last-child {
						a {
							@extend .button-type;
							display: inline-block;
							margin-top: 15px;
						}
					}
				}
			}


			/*misc images*/
			@include e(triangle-flicker){
				max-width: 100px;
			}

		/*end modifier*/
	}



}