@include b(page-layout){
	
	/*default layout pages MODIFIERS!!!!!*/

	/*social events*/
	@include m(213){
		@include e(alternating-blocks){
			margin-top: 85px;
			background: url(../images/texturedbg.jpg);
		    box-shadow: 0 0 17px 1px #ababab;
		    overflow: hidden;
		    &:before {
		    	
		    	@include breakpoint(medium) {
		    		content:'';
			    	display: block;
			    	position: absolute;
			    	width: 262px;
			    	height: 319px;
			    	background: url(../images/partial-shape.png) no-repeat;
			    	bottom :250px;
			    	left: 0;
		    	}
		    }
		    @include breakpoint(medium) {
		    	position: relative;
		    }

		    ul {

		    	li {
		    		&:last-child {
		    			.other {
		    				position: relative;
		    				img {
		    					position: relative;
		    					z-index: 0;
		    				}
		    				&:after {
		    					content: '';
		    					background: url(../images/flickr-triangle.png) no-repeat;
		    					background-size: 75px;
		    					height: 75px;
		    					width: 75px;
		    					position: absolute;
		    					right: -35px;
		    					bottom: 150px;
		    				}
		    			}
		    		}
		    	}
		    }

		}
		@include e(big-list){
			@include breakpoint(medium) {
				background: url(../images/2-lines-right-side.png) no-repeat top right;
			}
			.page-layout__container {
				position: relative;
				&:before {
					content:'';
					background: url(../images/flicker-cicle.png) no-repeat;
					background-size: 75px;
					height: 75px;
					width: 75px;
					position: absolute;
					left: 0;
					top: 400px;
				}
			}

		}

		@include e(img-lt-con-rt){
			.medium-6 {
				img {
					@include breakpoint(small only){
						max-width: 50%;
						margin: 0 auto 30px;
						display: block;
					}
				}
			}
		}
	}


	/*metings*/
	@include m(244){
		@include e(call-out){
			margin-top: 75px;
			background: url(../images/call-out-bg.jpg) no-repeat top center;
			background-size: cover !important;
			padding: 200px 0 150px;
			p {
				@include breakpoint(small only){
					margin-bottom: 21px;
					font-size: 15px;
				}
			}
		}
		@include e(alternating-blocks){

			@include breakpoint(medium) {
		    	background: url(../images/shape-with-tail.png) no-repeat right 86%;
		    }

		    ul {

		    	li {
		    		&:last-child {
		    			.other {
		    				position: relative;
		    				img {
		    					position: relative;
		    					z-index: 0;
		    				}
		    				&:after {
		    					content: '';
		    					background: url(../images/flickr-triangle.png) no-repeat;
		    					background-size: 75px;
		    					height: 75px;
		    					width: 75px;
		    					position: absolute;
		    					left: -175px;
		    					bottom: 100px;
		    				}
		    			}
		    		}
		    	}
		    }
		}
	}


	/*weddings*/
	@include m(254){
		@include e(alternating-blocks){
			margin-top: 85px;
			background: url(../images/texturedbg.jpg);
		    box-shadow: 0 0 17px 1px #ababab;
		    position: relative;
		    &:after {
		    	content: '';
		    	background: url(../images/gather-wedding-shape.png) no-repeat;
		    	position: absolute;
		    	width: 288px;
			    top: 135px;
			    right: 0;
			    /*bottom: 0;*/
			    height: 340px;
			    display: block;
			    @include breakpoint(medium down){
			    	background-size: contain;
			    	width: 200px;
			    	opacity: .5;
			    }
		    }

		    @include e(container){
		    	position: relative;
		    	z-index: 1;
		    }


		    ul {

		    	li {
		    		&:last-child {
		    			.other {
		    				position: relative;
		    				img {
		    					position: relative;
		    					z-index: 0;
		    				}
		    				&:after {
		    					content: '';
		    					background: url(../images/flickr-triangle.png) no-repeat;
		    					background-size: 75px;
		    					height: 75px;
		    					width: 75px;
		    					position: absolute;
		    					left: -175px;
		    					bottom: 40%;
		    				}
		    			}
		    		}
		    	}
		    }

		}

		@include e(big-list){
			overflow: hidden;
			position: relative;
			&:before {
				content: '';
		    	background: url(../images/wedding-service-circle.png) no-repeat;
		    	position: absolute;
		    	width: 136px;
			    height: 196px;
			    left: 0;
			    top: 216px;
			    display: block;
			    z-index: 0;
			    @include breakpoint(small only){
			    	width: 105px;
			    	height: 105px;
			    	background-size: contain;
			    }
			}

			.page-layout__container {
				position: relative;
				&:before {
			    	content: '';
			    	background: url(../images/wedding-triangle.png) no-repeat;
			    	position: absolute;
			    	width: 253px;
				    bottom: 170px;
				    right: -100px;
				    height: 216px;
				    display: block;
				    z-index: 0;
				    @include breakpoint(small only){
				    	width: 105px;
				    	height: 105px;
				    	background-size: contain;
				    	right: -65px;
				    }
			    }
			}
		}

		@include e(call-to-action){
			background: url(../images/wedding-footer.jpg) no-repeat center;
			background-size: cover;
		}

		@include e(img-lt-con-rt){
			blockquote {
				@include breakpoint(small only){
					margin-top: 30px;
				}
			}
		}
	}

	/*parq*/
	@include m(270){
		@include e(wide-left-short-right){
			position: relative;
			z-index: 0;
			background: url(../images/texturedbg.jpg);
		    box-shadow: 0 0 17px 1px #ababab;
		    h2 {
	    		margin-bottom: 100px !important;
	    		margin-top: 30px;
		    }
		}
		section {
			&:last-child {
				margin-bottom: 135px;
				padding-top: 115px;
				background-image: url(../images/2-diagonal-lines.png);
				
				background-position: -100px 100px;
				background-repeat: no-repeat;
				h2 {
					margin-bottom: 55px !important;
				}
			}
		}

		@include e(slides){
			@include breakpoint(medium) {
				margin-bottom: 75px
			}
		}

		@include e(img-lt-con-rt){
			position: relative;
			overflow: hidden;
			.page-layout__triangle-flicker {
				position: absolute;
				max-width: 100px;
				right: 100px;
				top : 58px;
			}
		}
		.page-layout__circle-flick {
			right: -10px;
			position: absolute;
			right: -36;
			bottom: 156px;
			width: 200px;
			height: 200px;
		}

		@include e(black){
			background-image: url(../images/triangle-line-other.png);
			background-size: 300px;
			background-position: -100px 100px;
			background-repeat: no-repeat;
		}

		@include e(shape-flicker){
			position: absolute;
			left: -75px;
			bottom: 50px;
		}
	}


	/*vancouver*/
	@include m(305){
		
		@include breakpoint(large) {
			background: url(../images/vancourbg.png) no-repeat right 68%;
			/*background-size: 185px;*/
		}
		@include e(wysiwyg){
			margin-top: 150px;
			margin-bottom: 75px;
		}
	}

	/*food drink*/
	@include m(321){
		@include e(alternating-blocks){
			margin-top: 85px;
			background: url(../images/texturedbg.jpg);
		    box-shadow: 0 0 17px 1px #ababab;
		    z-index: 0;
		    position: relative;
		    p {
		    	@include breakpoint(medium) {
					max-width: 90%;
					margin: 0 auto 10px;
				}
				&:last-child {
					a {
						@extend .button-type;
						display: inline-block;
						margin-top: 15px;
					}
				}
		    }

		    &:after {
		    	content: '';
		    	background: url(../images/food-drink-lines.png) no-repeat;
		    	position: absolute;
		    	width: 160px;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    margin: auto;
			    height: 230px;
		    }

		    @include e(container){
		    	position: relative;
		    	z-index: 1;
		    }
		}

		@include e(centered-img){
			background: url(../images/food-drnin-bg-one.png) no-repeat left bottom;
			@include m(widescreen){
				background: none;
			}

			@include m(normal){
				padding-bottom: 90px;
				.medium-12 {
					position: relative;
					&:after {
    					content: '';
    					background: url(../images/flickr-triangle.png) no-repeat;
    					background-size: 122px;
    					height: 125px;
    					width: 125px;
    					position: absolute;
    					right: -53px;
    					bottom: 40%;
    				}
				}

				img {
					position: relative;
					z-index: 0;
				}


			}
		}

		@include e(button-blocks){
			margin-top: 85px;
			background-image: url(../images/2-diagonal-lines.png);
				
				background-position: -100px 0;
				background-repeat: no-repeat;
				li {
					@include breakpoint(small only){
						margin-bottom: 45px;
					}
					&:last-child {
						@include breakpoint(small only){
							margin-bottom: 0;
						}
					}
				}
		}
		section {
			&:last-child {
				/*margin-bottom: 75px;*/
			}
		}
	}
}