.footer-img {
	display: block;
	margin: auto;
}

@include b(footer-section){
	background: $brand-off-brown;
	text-align: center;
	padding: 32px 0 32px;

	@include e(logo){
		padding: 0 rem-calc(14.5);
		max-width: 255px;
		width: 100%;
	}

	@include e(copy-right){
		font-family: 'AvenirNextLTPro-CnIt';
		font-weight: normal;
		font-style: normal;
		color: #cccccc;
		text-transform: uppercase;
		display: block;
		letter-spacing: .15rem;
	}

	.clearfix {
		@include grid-row();
		padding: 30px 15px;
		span {
			@extend .font-styles__footer-basic;
			font-family: 'Avenir Next LT Pro Med CON';
			font-style: normal;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 3px;
			/*font-size: rem-calc(18);*/
			a {
				color: $brand-dark-gold;
				text-decoration: underline;
			}
		}
		.menu-footer-container,
		span {
			vertical-align: bottom;
			 @include breakpoint(medium down) { 
			 	display: block;
			 	text-align: center;
			 }
		}
		.menu-footer-container {
			padding-top: 30px;
		}
	}

	.menu-footer-container {
		margin: 0;
		display: inline-block;

		ul {
			margin: 0;
			li {
				@include breakpoint(medium down) { 
					display: inline-block;
				}
				a {
					@extend .font-styles__nav;
					font-size: rem-calc(14);
					text-transform: none;
					padding: 0 14px;
				}
			}
		}
		
	}


}