.no-js {
    @include breakpoint(small only) {
        .top-bar {
            display: none;
        }
    }

    @include breakpoint(medium) {
        .title-bar {
            display: none;
        }
    }
}

@include b(header){

    @include e(top-bar){
        background: none;
        padding: 0;
    }

    @include e(menu){
        background: none !important;
        margin: 0;
    }

    @include e(container){
        @include grid-row();
        max-width: rem-calc(1552);
    }

    /*nav from here down*/
    @include m(main){
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 9;
        @include breakpoint(medium) {
            position: absolute;
        }
        .title-bar-title {
            @include breakpoint(small only) {
                margin-left: 10px;
                img {
                    max-width: 70%;
                }
            }
        }

        @include e(nav){
            @include breakpoint(small only) {
                text-align: right;
            }
            li {
                &.current_page_item {
                    a {
                        color: $white;
                        &:after,
                        &:before {
                            opacity:1;
                        }
                    }
                }
            }
            > li {
                
                @include breakpoint(medium) {
                    padding-bottom: 15px;
                }
                @include breakpoint(small only) {
                    display: block;
                    text-align: right;
                }

                &.res-button {
                    display: inline-block;
                    margin: 10px 10px 0 0;
                    a {
                        color: $white;
                        
                        border: 1px solid $white;
                        transition: color .45s ease-out, border-color .45s ease-out;
                        &:hover {
                            color: $brand-gold;
                            border-color: $brand-gold;
                        }
                    }
                }
            }
            a {
                @extend .font-styles__nav;
                letter-spacing: .1em;
                position: relative;
                transition: color .45s ease-out;
                @include breakpoint(large) {
                    padding: 30px 25px;
                    letter-spacing: .2em;
                }
                @include breakpoint(medium only) {
                    padding: 30px 10px;
                }
                @include breakpoint(small only) {
                    padding: 10px !important;
                }
                &:before {
                    @include breakpoint(medium) {
                        background: url(../images/header-nav-bg.png) no-repeat center;
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        z-index: 0;
                        opacity: 0;
                    }
                    
                }
                
                &:after {
                    display:none !important;
                }
                &:before {
                   top :0;
                    right: -40px;
                }
                &:after {
                    bottom:0;
                    left: -40px;
                    
                }
                &:hover {
                    color: $white;

                    &:before,
                    &:after {
                        opacity:1;
                    }
                }
            }
        }

        .submenu {
            background: rgba(255,255,255,.45);
            right: 50% !important;
            transform: translate(50%, 0);
            border:none;
            @include breakpoint(medium) {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            @include breakpoint(small only) {
                background: none;
                /*display: block;*/
                position: relative;
                text-align: left;
            }
            @include breakpoint(small only) {
                margin-right: 15px;
                text-align: right;
            }
            li {
                &.current_page_item {
                    a {
                        @include breakpoint(medium) {
                            color: $black;
                        }
                    }
                }
                a {
                    @extend .font-styles__basic-italic-strong;
                    padding: 20px 10px;
                    text-align: center;
                    color: $white;
                    border: none;
                    @include breakpoint(small only) {
                        text-align: right;
                        padding: 10px;
                    }
                    &:hover {
                        color:$black;
                        @include breakpoint(small only) {
                            color: $brand-gold;
                        }
                    }
                    &:before,
                    &:after {
                        display: none;
                    }
                }
            }
        }
        .no-submenu {
            @include breakpoint(large) {
                padding-left: 15px;
             }
            @include breakpoint(large) {
                padding-left: 25px;
             }

            > a {
                @extend .font-styles__basic-italic-strong;
                transition: border-color .45s ease-out, color .45s ease-out;

                 @include breakpoint(medium) {
                    border:1px solid $brand-gold;
                    padding: 9px 15px !important;
                    text-align: center;
                    font-size: 14px;
                 }

                &:before {
                    display:none !important;
                }
                &:hover {
                    @include breakpoint(medium) {
                        border-color: $white;
                    }
                }
            }
            .submenu {

                @include breakpoint(large) {
                    /*display: none !important;*/
                    right: 40% !important;
                 }
            }
            &.current_page_item,
            &.current-menu-parent {
                > a {
                    border: 1px solid $white;
                    color: $white;
                }
            }    
        }

        .title-bar {
            @include breakpoint(small only) {
                position: relative;
            }
            .menu-icon {
                @include breakpoint(small only) {
                    position: absolute;
                    right: 15px;
                    top: 12px;
                }
            }
        }
        
    }

    @include m(home){
        @include e(top-bar-right){
            @include breakpoint(medium) {
                
            }
        }
        @include e(container){
            
            @include breakpoint(medium) {
                padding-top: rem-calc(24);
                padding-left: rem-calc(15);
                padding-right: rem-calc(15);
            }
            @include breakpoint(small only) {
                padding: rem-calc(15) 0;
                background: $black;
            }
        }
    }

    @include m(sub){
        background: $black;
        border-bottom: 2px solid $brand-gold;
        position: relative;

        @include e(container){
            padding: rem-calc(15) 0;
            @include breakpoint(medium) {
                    padding: rem-calc(15) rem-calc(15) 0;
                 }
        }

        .top-bar-left {
            margin-top: rem-calc(15);
        }

        
    }
}