@include b(page-layout){

	@include m(home){

		#myvideob {
			display: none;
		}

		@include e(container){

			@include m(about){
				.page-layout__about-cr {
					img {
						@include breakpoint(small only){
							max-width: 50%;
							display: block;
							margin: 0 auto;
						}
					}
				}
			}

			@include m(about-bottom){
				position: relative;
				
				@include e(triangle-flicker){
					position: absolute;
					bottom: -50px;
					right: -50px;
					max-width: 75px;
				}
			}
		}

		/*video*/
		@include e(video){
			overflow: hidden;
			position: relative;
			z-index: 0;
		}

		/*misc images*/
		@include e(misc){
			position: relative;
			z-index: 9;
			img {
				position: absolute;
			}
		}

		@include e(misc-icon){
			display: block;
			margin: -45px auto 75px;
			right: 0;
			left: 0; 
		}
		@include e(misc-wood){
		    left: -300px;
    		top: -231px;
    		@media only screen and (max-width: 1400px) {
    			max-width: 400px;
    			left: -142px;
    			top: -50px;
    		}
    		@media only screen and (max-width: 1175px) {
    			left: -255px;
    		}
    		@include breakpoint(medium down) { 
    			display: none;
    		}
		}

		/*intro*/
		@include e(intro){
			position: relative;
			z-index: 1;
			overflow: hidden;
			padding-top: 135px;
			@include breakpoint(medium only) { 
    			/*padding-top: 90px;*/
    		}

    		@include breakpoint(small only) { 
    			padding-top: 60px;
    		}
		}

		

		@include e(intro-copy){
			@include grid-row();
			text-align: center;
			overflow: visible;
			position: relative;
			&:before,
			&:after {
				border-top: 5px solid $black;
				display: block;
				max-width: 550px;
				margin: 0 auto rem-calc(75);
			}
			&:after {
				max-width: 360px;
			}
			
			img {
				position: absolute;
				z-index: 0;
				display: block;
				margin: 0 auto;
				left: 0;
				right: -342px;
				top: -300px;
				@include breakpoint(medium down) {
					right: -142px;
				}
			}
		}


		/*about */
		@include e(about){
			@include grid-row();
			margin-bottom: rem-calc(60);
			overflow: hidden;
			@include breakpoint(medium) {
				padding-top: rem-calc(22);
				margin-bottom: rem-calc(100);
			}

		}

		@include e(about-cl){
			@include grid-column(12);
			text-align: center;
			@include breakpoint(medium) {
				@include grid-column(3);
				margin-left: 9.3%;
				padding-top: rem-calc(40);
			}

			@include m(big){
				@include breakpoint(medium) {
					@include grid-column(8);
					margin-left: 0;
				}
				img {
					&:first-child{
						margin-bottom: 30px;
					}
				}
			}

			@include breakpoint(small only) {
				margin-bottom: 60px;
			}
		}
		@include e(about-cr){
			@include grid-column(12);
			@include breakpoint(medium) {
				@include grid-column(7);
			}

			@include m(short){
				@include breakpoint(medium) {
					@include grid-column(4);
					padding-top: 186px;
					text-align: center;
				}
				@include breakpoint(small only) {
					text-align: center;
				}
			}
		}

		@include e(snippet){
			@include m(about){
				display: block;
				margin-bottom: rem-calc(30);
    			@include breakpoint(medium) {
    				max-width: 210px;
    				margin: 0 auto rem-calc(63);
    			}
			}
		}

		@include e(copy-cl){
			padding-top: 0;
			margin-bottom: rem-calc(30);
			@include breakpoint(medium) {
				padding-top: rem-calc(24);
				margin-bottom: rem-calc(55)
			}
		}

		@include e(copy-cr){
			padding-top: 0;
			margin-bottom: rem-calc(30);
			@include breakpoint(medium) {
				padding-top: rem-calc(33);
				max-width: 285px;
				margin: 0 auto rem-calc(55);
			}

		}

		@include e(slides){
			margin-bottom: 75px;
			@include breakpoint(medium) {
				margin-bottom: 150px;
			}
		}

		@include e(black){
			position: relative;
			p {
				color: $white;
			}
			.small-hide {
				display: none;
				@include breakpoint(medium) {
					display: block;
					position: absolute;
					left: -231px;
					bottom: 75px;
				}
			}
			.page-layout__title-block {
				text-align: center;
				p {
					margin-bottom: 30px;
					@include breakpoint(medium) {
						
						display: block;
						max-width: 250px;
						margin: 0 auto 50px;
					}

				}
			}
			.page-layout__other {
				margin-top: 40px;
				text-align: center;
				@include breakpoint(medium) {
					margin-top: -80px;
					text-align: left;
				}
			}
			.page-layout__width-box {
				@include breakpoint(medium) {
					max-width: 399px;
					display: block;
				}
			}
		}

		@include e(image){
			text-align: center;
		}

		@include e(fullscreen){
			img {
				width: 100%;
			}
		}


		@include e(location){
			overflow: hidden;
			padding: 75px 0;
			.medium-12 {
				padding-bottom: 75px;
				position: relative;
				h2 {
					position: relative;
					z-index: 1;
				}
				img {
					position: absolute;
					top: -76px;
				    left: 63px;
				    right: 0;
				    margin: auto;

				}
			}
			.medium-8 {
				@include breakpoint(small only){
					padding-bottom: rem-calc(30);
				}
			}
		}
		/*home mod end*/
	}

}