@include b(page-layout){

	@include e(snippet){
		@extend .font-styles__thin-title;
	}


	@include e(title-block){
		h1,h2 {
			@extend .font-styles__title;
			width: 100%;
			max-width: 715px;
			margin: 0 auto rem-calc(68);
			position: relative;
			z-index: 1;
			text-align: center;
			overflow: hidden;
	    	text-overflow: ellipsis;
	    	@include breakpoint(small only) { 
	    		font-size: rem-calc(37);
	    		line-height: 50px;
	    		letter-spacing: .14em;
	    	}
			em,i {
				@extend .font-styles__thin-title;
				@extend .font-styles__thin-title--big;
				@extend .font-styles__thin-title--italic;
				text-transform: uppercase;
				@include breakpoint(small only) { 
		    		font-size: rem-calc(32);
		    		/*display: */
		    		/*line-height: 50px;*/
		    	}
				strong,b {
					@extend .font-styles__title;
					@extend .font-styles__title--italic;
					font-style: italic;
					text-transform: none;
					font-weight: normal;
					@include breakpoint(small only) { 
						font-size: rem-calc(40);
					}
				}
			}
			strong,b {
				em,i {
					@extend .font-styles__title;
					@extend .font-styles__title--italic;
					font-style: italic;
					text-transform: none;
					font-weight: normal;
					@include breakpoint(small only) { 
			    		font-size: rem-calc(40);
			    		line-height: 50px;
			    	}
				}
			}
			br {
				@include breakpoint(small only) { 
					display: none;
				}
			}
		}
		h2 {
			font-size: rem-calc(51);
			letter-spacing: .23em;
			margin-bottom: rem-calc(50);
			@include breakpoint(small only) { 
	    		font-size: rem-calc(31);
	    		line-height: 50px;
	    	}
			em {
				font-size: rem-calc(35);
				letter-spacing: .21em;
				strong {
					
				}
				@include breakpoint(small only) { 
		    		font-size: rem-calc(27);
		    		line-height: 50px;
		    		/*display: block;*/
		    	}
			}
			strong {
				em {
					
				}
			}
		}

		@include m(border){
			h1,h2{
				&:after {
					content:'';
					border-bottom: 5px solid;
					display: block;
					max-width: 140px;
					margin: 30px auto 0;
				}
			}
		}

		@include m(white){
			h1,h2 {
				color: $white !important;
				* {
					color: $white !important;
				}
			}
		}

		@include m(same-size){
			h2 {
				em,i {
					font-size: rem-calc(45);
					strong {
						
					}
				}
	
			}
		}
	}

	/*owl slider*/
	@include e(slides){

		@include m(full-width){
			@include grid-column(12);
			float: none !important;
			@include grid-row();

		}

	}

	/*basic container / row*/
	@include e(container){
		@include grid-row();
	}

	/*black bg*/
	@include e(black){
		background: $black;
		padding: rem-calc(75) 0 rem-calc(75);
		@include breakpoint(small only){
			padding: rem-calc(75) 0 rem-calc(100);
		}
	}

	/*featured image*/
	@include e(featured-img){
		border-bottom: 2px solid $brand-gold;
		position: relative;
		z-index: 0;
		text-align: center;
		overflow: hidden;
		height: 275px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		@include breakpoint(medium){
			height: 400px;
			
		}
		@include breakpoint(large) { 
			height: 530px;
		}
		&:before {
			 
  			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em;
		}
		img {
			/*position: absolute;
			left: 50%;
			top: 50%;
			min-width: 1300px;
			z-index: 0;
			-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			min-width: 930px;
			@include breakpoint(medium){
				min-width: 1300px;
			}
			@include breakpoint(large) { 
				min-width: 1920px;
			}*/
		}

		.basic-copy {
			@extend .page-layout__title-block;
			position: relative;
			z-index: 1;
			vertical-align: middle;
			display: inline-block;
			width: 100%;
			max-width: 90%;
			* {
				color: $white !important;
			}
			h1 {
				@include breakpoint(small only){
					margin: 0 !important;
					font-size: 30px;
					line-height: 1;
				}
				&:after {
					border-top: 5px solid $white;
					max-width: 200px;
					@include breakpoint(small only){
						margin-top: 15px;
					}
				}
				strong {
					em {
						@include breakpoint(small only){
					
							font-size: 30px;
						}
					}
				}
				em {
					@include breakpoint(small only){
					
						font-size: 30px;
					}
				}
			}
		}
	}


	/*sub menu*/
	@include e(sub-menu){
		margin: 0 auto;
		text-align: center;
		vertical-align: top;
		li {
			list-style: none;
			display: inline-block;
			vertical-align: top;
			min-width: 175px;
			margin: 0 10px;
			&.current_page_item {
				a {
					background: $brand-dark-gold;
					color: $white;
				}
			}
		}
		a {
			@extend .font-styles__copy-plus;
			background: $black;
			color: $white;
			padding: 10px 30px;
			display: block;
			transition: color .45s ease-out, background .45s ease-out;
			&:hover {
				background: $brand-dark-gold;
				color: $white;
			}
		}
	}

	@include e(circle-flick){
		background: #FCFCF7;
		height: 150px;
		width: 150px;
		display: block;
		border: 2px solid $brand-dark-gold;
		border-radius: 50%;
		
		@include m(no-bg){
			background:none;
		}
	}

	@include e(shape-flicker){
		max-width: 90px;
	}

	@include e(reservation){
		position: absolute;
		right: 0;
		display: block;
		cursor: pointer;
		@media only screen and (max-width: 1160px) {
			height: 70px;
			overflow: hidden;
		}
		img {
			position: relative !important;
			left: 0 !important;
			right: 0;
			top: 0 !important;
			z-index: 0;
			@media only screen and (max-width: 1160px) {
				top: -210px !important;
			}
		}
		span {
			@extend .button-type;
			color: $white;
			border-color: $white;
			position: absolute;
			bottom: 50px;
			left: 0;
			right: 0;
			margin: auto;
			text-align: center;
			padding: 5px;
			max-width: 195px;
			width: 100%;
			@media only screen and (max-width: 1160px) {
				bottom: 16px;
			}
		}
		&:hover {
			span {
				color: $black;
				border-color: $black;
			}
		}
	}

	.sticky-wrapper {
		position: absolute;
		height: 308px;
		width: 246px;
		right: 0;
		top: 0;
		> a {
			top: 0;
			&.stuck {
				position: fixed;
				
			}
			img {
				display: block;
				max-width: 246px;
			}
		}
	}

	.half-img-mobile {
		img {
			max-width: 50%;
			margin: 0 auto;
		}
	}
}