@include b(page-layout){

	@include m(stay){
	/*start modifier*/
		padding-bottom: 75px;
		
		/*misc*/
		@include e(misc){
			position: relative;
			z-index: 9;
			
		}

		/*intro*/
		@include e(intro){
			padding-top: 50px;
			padding-bottom: 50px;
			overflow: hidden;
			@include breakpoint(medium) {
				padding-top: 75px;
				padding-bottom: 100px;
			}
			.medium-8 {
				padding-bottom: 50px;
				@include breakpoint(medium) {
					padding-bottom: 105px;
				}
			}

			.medium-5 {
				margin-bottom: 30px;
				@include breakpoint(medium) {
					width: 37.66667%;
					margin-bottom: 0;
				}

			}

		}


		@include e(standard-rooms){
			margin-bottom: rem-calc(35);
			@include breakpoint(medium) {
				margin-bottom: rem-calc(55);
			}
			.basic-copy {
				@extend .page-layout__title-block;
				@extend .page-layout__title-block--same-size;
				h2 {
					margin-bottom: 30px !important;
					text-transform: uppercase;
					@include breakpoint(medium) {
						margin-bottom: rem-calc(75) !important;
					}
					&:after {
						border-top: 5px solid $black;
						max-width: 150px;
						margin: 25px auto 0;
					}
					em {
						@include breakpoint(small only) { 
				    		font-size: rem-calc(35);
				    		line-height: 50px;
				    		display: block;
				    	}
					}
				}
			}

			.page-layout__triangle-flicker {
				display: none;
				@include breakpoint(medium) {
					max-width: 100px;
					z-index: 9;
					position: absolute;
					top: 185px;
					left: -50px;
					display: block;
				}
			}

			@include m(standard){
				position: relative;
				&:before {
					content:'';
					display: none;
					position: absolute;
					right: 0;
					background: url(../images/stay-triangle.png) no-repeat;
					height: 261px;
					width: 244px;
					z-index: 0;
					top: -175px;
					@include breakpoint(medium) {
						display: block;
					}
				}
				.page-layout__container {
					position: relative;
				}
				ul {
					position: relative;
					z-index: 0;
				}
				img {
					@include breakpoint(small only){
						padding-bottom: 30px;
					}
				}
			}
		}
			@include e(rooms-list){
				margin: 0;
				li {
					list-style: none;
					margin-bottom: rem-calc(35);
					@include breakpoint(medium) {
						margin-bottom: rem-calc(50);
					}
					&:last-child{
						margin-bottom: 0;
						.border-bottom {
							&:after {
								display:none;
							}
						}
					}
				}
				.end {
					text-align: center;
					/*margin-top: 30px;*/
					position: relative;
					
					@include breakpoint(medium) {
						width: 36%;
						/*margin-top: 30px;*/
					}
					&:before {
						@include breakpoint(medium){
							content: '';
							display: inline-block;
							height: 100%;
							vertical-align: middle;
						}
					}
					.vertical-align {
						@include breakpoint(medium){
							display: inline-block;
  							vertical-align: middle;	
  							width: 100%;
  							max-width: 98%;
						}
					}
				}
				.start {
					/*margin-top: 30px;*/
					&:before {
						@include breakpoint(medium){
							content: '';
							display: inline-block;
							height: 100%;
							vertical-align: middle;
						}
					}
					.vertical-align {
						@include breakpoint(medium){
							display: inline-block;
  							vertical-align: middle;	
  							width: 100%;
  							max-width: 98%;
						}
					}
				}
				.border-bottom {
					position: relative;
					&:after {
						content:'';
						height: 5px;
						background: $black;
						position: absolute;
						bottom: -25px;
						width: 85%;
						left: 0;
						right:0;
						margin:auto;
						@include breakpoint(small only) {
								display: none;
							}
					}
				}
				h2 {
					@extend .font-styles__sub-title;
					@extend .font-styles__sub-title--italic-small;
					text-transform: uppercase;
					margin-bottom: 20px;
					text-align: center;
				}
				@include m(white){
					* {
						color: $white !important;
					}
					.border-bottom {
						@include breakpoint(small only) {
							margin-bottom: 30px;
						}
						&:after {
							background: $white;
							@include breakpoint(small only) {
								display: none;
							}
						}
					}

				}
			}

		@include e(black){
			margin-bottom: 0;
			@include breakpoint(medium) {
				background-image: url(../images/stay-black-triangle.png);
				background-repeat: no-repeat;
				background-position: 0 45%;
			}
			.basic-copy {
				h2 {
					color: $white;
					&:after {
						border-bottom: 5px solid $white;
					}
				}
			}
		}

		@include e(amenities){
			background: url(../images/amenities-bg.jpg) no-repeat center bottom;
			background-size: cover;
			padding: 75px 0;
			margin-bottom: 75px;
			@include breakpoint(small only) {
				text-align: center;
			}
			.basic-copy {
				h2 {
					color: $white !important;
					&:after {
						border-top: 5px solid $white;
					}
				}
			}
			.clearfix {
				padding-bottom: 75px;
				* {
					color: $white !important;
				}
				> div {
					&:last-child {
						@include breakpoint(small only){
							padding-bottom: 50px;
						}
					}
				}
			}
			ul {
				li {
					margin-top: 9px;
					line-height: 15px;
					&:first-child {
						margin-top: 0;
					}
				}
			}
		}

		@include e(arrival){
			margin-bottom: 0;
			@include breakpoint(small only) {
				text-align: center;
			}
			.basic-copy {
				h2 {
					margin-bottom: 30px !important;
				}
			}
			.basic-lists {
				li {
					margin-top: rem-calc(15);
					&:first-child {
						margin-top:0;
					}
				}
			}
			.clearfix--bottom {
				.medium-3 {
					&:first-child {
						@include breakpoint(medium) {
							margin-left: 3%;
						}
					}
				}
			}
			.check-in-out {
				margin-bottom: rem-calc(60);
				span {
					display: inline-block;
					vertical-align: middle;
					text-transform: uppercase;
					&:first-child {
						margin-right: 30px;
					}
				}
			}

			.page-layout__container {
				position: relative;
			}
			.page-layout__triangle-flicker {
				left: -200px;
				top: 200px;
				z-index: 0;
				@media only screen and (max-width: 1600px) {
					left: -100px;
				} 
				@media only screen and (max-width: 1300px) {
					left: 0px;
				} 
			}			

		}

/*@extend .font-styles__sub-title;
				@extend .font-styles__sub-title--italic-small;*/

	/*end modifier*/
	}
}