@include b(page-layout){

	@include m(story){
	/*start modifier*/

		/*intro*/
		@include e(intro){
			@include grid-row();
			position: relative;
			z-index: 1;
			padding-top: 50px;
			@include breakpoint(large) {
				padding-top: 150px;
			}

			@include e(shape-img){
				@extend .medium-offset-2;
				max-width: 375px;
				position: absolute;
				left: 0;
				top: -232px;
				display: block;
				@include breakpoint(medium down) {
				    top: -98px;
				    left: 15px;
				    max-width: 155px;
				}
			}

			.medium-6 {
				@extend .page-layout__title-block;
				margin-top: rem-calc(30);
				@include breakpoint(large) {
					margin-top: rem-calc(85);
					margin-left: 4.5%;
				}
				@include breakpoint(medium only) {
					margin-top: 0;
				}

			}

			.end {
				padding-top: 75px;
				padding-bottom: 75px;
			}
		}

		/*specifics*/
		@include e(specifics){
			/*@include grid-row();*/
			padding-bottom: 75px;
			overflow: hidden;
			.end {
				position: relative;
				.page-layout__triangle-flicker {
					display: none;
					@include breakpoint(medium) {
						max-width: 100px;
						z-index: 9;
						position: absolute;
						top: 50px;
						right: -40px;
						display: block;
					}
				}
				.attachment-full {
					position: relative;
					z-index: 0;
				}
			}
			.medium-4 {
				@include breakpoint(small only){
					margin-bottom: 30px;
				}
				p {
					&:first-child {
						img {
							margin-bottom:20px;
						}
					}
				}
			}
		}

		/*architecture*/
		@include e(architect){
			padding: 75px 0;
			* {
				color: $white;
			}

			.medium-3 {
				h2 {

				}
			}
			blockquote {
				padding-left: 0;
				padding-right: 0;

				&:before,
				&:after {
					border-color: $white;
					max-width: 115px;
				}
			}
			.clearfix-block {
				padding-top: 100px;
				@media only screen and (max-width: 1010px) {
					padding-top: 50px;
				}
			}
			.medium-3 {
				@media only screen and (max-width: 1010px) {
					padding-bottom: 30px;
				}
			}
			.medium-3,
			.medium-9 {
				@media only screen and (max-width: 1010px) {
					width: 100%;
					text-align: center;
					max-width: 850px;
					margin: 0 auto;
					float: none;
				}
			}

		}
			@include e(arch-title){
				@extend .font-styles__sub-title;
				@extend .font-styles__sub-title--italic-small;
				color: $white;
				text-align: center;
				padding: 0 rem-calc(14.5);
			}
			@include e(arch-list){
				@include grid-layout(1, 'li', $grid-column-gutter);
				margin: 0 -10px;
				@include breakpoint(medium) {
					margin: 0 -15px;
					@include grid-layout(3, 'li', $grid-column-gutter);
				}

				li {
					list-style:none;
					text-align: center;
					@include breakpoint(small only) {
						padding-bottom: 30px;
					}
					&:last-child {
						@include breakpoint(small only) {
							padding-bottom: 0;
						}
					}
				}
				p {
					color: $brand-dark-gold;
					em,i {
						color: $brand-dark-gold;
					}
					strong {
						color: $brand-dark-gold;
						font-weight: normal;
						display: block;
						line-height: 1.2;
					}
				}
				h2 {
					@extend .font-styles__basic-italic-strong;
					font-size: rem-calc(13.5);
					marign-bottom: 30px;
				}
				img {
					display: block;
					margin-bottom: 30px;
					@include breakpoint(small only) {
						margin: 0 auto 30px;
					}
				}
			}


		/*last*/
		@include e(last){
			padding: 100px 0;

			.column {
				position: relative;

				.attachment-full {
					position: relative;
					z-index: 0;
				}

				.circle {
					position: absolute;
					z-index: 9;
					max-width: 105px;
					left: -47px;
					bottom: 109px;
				}
				span {
					display: inline-block;
					position: relative;
				}
			}

			.basic-copy {
				@extend .page-layout__title-block;
				margin-bottom: rem-calc(75);
				br {
					display: none;
				}
				h2 {
					text-transform: uppercase;
					max-width: 100%;
					font-size: rem-calc(26);
					line-height: 50px;
					strong {
						text-transform: none;
						display: block;
						em {
						    font-size: 3.1875rem;
						}
					}
					em {
					    font-size: 2.1875rem;
					    display: block;
					}
					&:after {
						display:none;
					}
				}
			}
		}


	/*end modifier*/
	}

}